@font-face {
    font-family: 'Mark';
    src: url('../font/Mark-Heavy.woff2') format('woff2'),
        url('../font/Mark-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('../font/Mark-Regular.woff2') format('woff2'),
        url('../font/Mark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
