.price{
    padding-top: 60px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        margin-top: 60px;
        padding: 0 60px;
        display: grid;
        grid-template: repeat(3, minmax(40px, auto)) / repeat(2, 370px);
        grid-auto-rows: minmax(40px, auto);
        justify-content: space-between;
        gap: 15px;
    }
    &__item{
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        &:before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px; 
            background: $main-color; 
            border-radius: 100%; 
            top: 3px;
        }
    }
    &__count{
        justify-self: end;
    }
    &__descr{
        grid-column: 1/3;
    }
}